# Web Framework
fastapi==0.115.14
uvicorn
python-multipart

# Database
sqlmodel
asyncpg
pgvector
cryptography

# Configuration
pydantic-settings
python-dotenv

# Redis Cache
redis[asyncio]>=5.0.0

# HTTP Client
httpx

# AI
openai
langchain-core
langchain-openai
langchain==0.3.27

# Kafka
faststream[kafka]
python-snappy==0.7.3

# Google API
google-api-python-client
youtube-transcript-api

# Trend
serpapi

# Utilities
greenlet
isodate
tzdata
json-repair
